
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body {
    font-family: "Open Sans", serif;
  font-optical-sizing: auto;

}
.font-praimay-color{
    color:#FD6E0A;
}
.baton-praimay{
    border-radius: 5px;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700; 
    color: white;
    border: 0;
    padding: 15px 35px;
     }
.section-titel{
    color: #181818;
    text-align: center;
    font-weight: 700;
    font-size: 35;
}
.section-descption{
    color: #757575;
    text-align: center;
    font-size: 18;
}
/* nav riletad css */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navmary{
     color: black;
    font-size: 45px;
    font-weight: 800;    
}
nav > ul{
     display:flex;
     align-items: center;
     
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header css */
.header{
    padding: 30px 30px 0px 150px;
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png); 
    background-position: right bottom; 
    background-repeat: no-repeat;
     
}
.banner{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    width: 500px;
}
.banner-prfil{
    width: 500px;
    }
.banner-geatin{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-titel{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom:0;
}
.banner-descption{
    margin-top: 5px;
}
/* mine section */
/* abut section */
.abut{
    margin: 150px;
    border-radius: 10px;
    border-color: #FFF8F3;
    margin: 130px;
}
