
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



body {
    font-family: "Open Sans", serif;
  font-optical-sizing: auto;

}
.font-praimay-color{
    color:#FD6E0A;
}
.baton-praimay{
    border-radius: 5px;
    background-color: #FD6E0A;
     
}
/* nav riletad css */
nav{
    display: flex;
}
.navmary{
     color: black;
    font-size: 45px;
    font-weight: 800;    
}
nav > ul{
     display:flex;
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747;
}